h2o-engine-manager
https://s3.amazonaws.com/artifacts.h2o.ai/releases/ai/h2o/drive/python/h2o-drive-0.6.0.tar.gz
pandas
numpy
driverlessai
IPython
h2o-wave==0.26.3
plotly
pyjwt
boto3
sqlalchemy
pandasql
shap
h2o-authn
h2o-cloud-discovery
text-generation
langchain
openai
librosa
soundfile
h2ogpte
