[App]
Name = "ai.h2o.wave.company_info_at_a_glance"
Version = "0.0.5"
Title = "Company Information"
Description = "Use AI to research companies and identify opportunities"
Tags = ["GENERATIVE_AI", "DATA_SCIENCE", "OSS"]
LongDescription = "LongDescription.md"
InstanceLifecycle = "MANAGED"

[Runtime]
Module = "src.app"
EnableOIDC = false
MemoryLimit = "16Gi"
MemoryReservation = "16Gi"

[[Env]]
Name = "H2OGPTE_API_TOKEN"
Secret = "h2ogpte-shared"
SecretKey = "h2ogpte-key"

[[Env]]
Name = "H2OGPTE_URL"
Secret = "h2ogpte-shared"
SecretKey = "h2ogpte-url"

[[Env]]
Name = "HEAP_ID"
Secret = "heap-analytics"
SecretKey = "id"
