[App]
Name = "ai.h2o.wave.clean-code-inspector"
Version = "0.0.6"
Title = "Clean Code Inspector"
Description = "Apply best practices to your Python code with AI"
Tags = ["GENERATIVE_AI", "OSS", "DATA_SCIENCE"]
LongDescription = "LongDescription.md"
InstanceLifecycle = "MANAGED"

[Runtime]
Module = "src.app"
EnableOIDC = false
MemoryLimit = "16Gi"
MemoryReservation = "16Gi"

[[Env]]
Name = "PRIMARY_COLOR"
Value = "#3b3b96"

[[Env]]
Name = "SECONDARY_COLOR"
Value = "#e2e2e2"

[[Env]]
Name = "H2OGPTE_API_TOKEN"
Secret = "h2ogpte-shared"
SecretKey = "h2ogpte-key"

[[Env]]
Name = "H2OGPTE_URL"
Secret = "h2ogpte-shared"
SecretKey = "h2ogpte-url"

[[Env]]
Name = "HEAP_ID"
Secret = "heap-analytics"
SecretKey = "id"
