[App]
name = "ai.h2o.wave.h2o-demo-rfi"
Title = "RFI Assistant"
description = "Leverage AI to effortlessly respond to RFIs"
LongDescription = "about.md"
Tags = ["RFI QA", "DEMO", "INTERNAL"]
Version = "0.0.4"
InstanceLifecycle = "MANAGED"

[Runtime]
Module = "src.app"
EnableOIDC = false
MemoryLimit = "16Gi"
MemoryReservation = "16Gi"
RoutingMode = "BASE_URL"
RuntimeVersion = "deb11_py310_wlatest"

[[Env]]
Name= "COLLECTION_NAME"
Value = "H2O_DEMO_RFI"

[[Env]]
Name = "H2OGPTE_API_TOKEN"
Secret = "h2o-rfi-qa"
SecretKey = "h2ogpte-key"

[[Env]]
Name = "H2OGPTE_URL"
Secret = "h2o-rfi-qa"
SecretKey = "h2ogpte-url"

[[Env]]
Name = "HEAP_ID"
Secret = "heap-analytics"
SecretKey = "id"
